body {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.search {
  width: 41%;
  padding: 12px;
  margin: 30px;
  margin-left: 43.5px;
  border-radius: 10px;
  border-style: none;
  border: solid lightgrey 1px;
}

.gallery img {
  padding: 15px;
  width: 200px;
  margin: 20px;
}

/* lightbox css */

.lb-data .lb-caption {
  font-size: 14px;
  max-width: 600px;
  margin: auto;
}

.lb-data .lb-details {
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
  opacity: 1;
}

/* media query */

@media (min-width: 700px) {
  .search {
    margin: 50px 100px 0 300px;
  }
  li {
    display: inline;
  }
}
